*{margin: 0;padding: 0;}
img{border: 0}
ul,li{list-style: none;}
a{text-decoration: none;}

body{ font-family: Arial,sans-serif;font-size: 12px}
/*<!-- 顶部导航栏 -->*/
#header{width: 100%;height: 40px;background: url("images/dark_header.png");background-repeat: repeat-x;}
.headerbox{width: 1100px;height: 100%;margin: 0 auto;}
.headerleft{width: 400px;height: 100%;float: left;}
.headerli{height: 100%;width: auto;float: left;padding: 0 14px;}
.headerllink{height: 100%;color: #FFFFFF;font-size: 13px;height: 40px;line-height: 40px;display: inline-block;text-shadow: 0 -1px 0 #3D4146;text-align: center;font-weight: bold;}
.hesdermiddle{width: 470px;height: 40px;float: left;padding-left: 100px}
.headerlogo{width: 108px;height: 25px;background: url("images/logo.png");display: inline-block;background-repeat: no-repeat;margin-top: 5px}